.select_wrapper{
  display: flex;
  justify-content: space-evenly;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 20px;
  gap: 20px;
}
.container{
  padding: 20px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img-container{
width: 100%;
max-width: 300px;
}
.image{
  height: 150px;
  width: 300px;
  cursor: pointer;
}
.name-container{
  font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: black;
    letter-spacing: 0;
    font-size: 18px;
    line-height: 1.4;
    cursor: pointer;
}
.category{
  color: #878787;
    font-size: 12px;
    word-wrap: break-word;
    letter-spacing: 0;
}
.rating-price-wrapper{
display: flex;
justify-content: space-between;
}
.rating{ 
display: flex;
align-items: center;
line-height: normal;
color: #fff;
padding: 2px 4px 2px 6px;
border-radius: 3px;
font-weight: 500;
font-size: 12px;
gap: 2px;
background-color: #388e3c;
}
.price{ 
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  cursor: pointer;
}
.offer{
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.text_wrapper{
display: flex;
align-items: center;
justify-content: space-evenly;
}
.label_wrapper{
  display: flex;
  justify-content: space-evenly;
}
.customer-ratings{
  font-weight: bold;
}
.sort-filter-container{
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
}
.sort-heading{
  font-size: 16px;
    color: #212121;
    line-height: 1.4;
    font-weight: 500;
}
.sort_category{
  font-size: 16px;
    color: #212121;
    line-height: 1.4;
    cursor: pointer;
}
.filter-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 0 20px;
}
.selected{
  color: #2874f0;
  border-bottom: 2px solid #2874f0;
}